.box-calendar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(233, 229, 229);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box-calendar .close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }
  